{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "electron": 5 }
      }
    ],
    "@babel/preset-flow"
  ],
  "exclude": "node_modules/**",
  "sourceMaps": "inline",
}
